* {
  font-family: 'Roboto', sans-serif;
}
main {
  min-height: 77vh;
  align-content: start;
  justify-content: center;
}
h2 {
  padding: 24px 15px 0px 15px ;
}

.cabecera, .pie {
background-color: #b6c9b9;
}
.cabecera {
  display: flex;
  align-items: center;
  background-image: url("/src/img/fondo-verdes.png");
  background-position: inherit;
  background-size:cover;
}
.cabecera img{
  height: 1.8em;
}
.titulo {
  font-size: 2.6em;
}

.titulo a, .titulo a:hover {
  color: #353f38;
  text-decoration: none;
}

.navegacion {
  display: flex;
  justify-content:flex-end;
}

.menuCabecera {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: center;
}
.toggle {
  border: 0;
  transition: 1s ease-in-out;
}
.toggle:hover {
  border: 1px solid rgba(60, 85, 60, 0.219);
}

.menuCabecera .navItem {
  transition: 0.6s;
  color:#353f38;
  margin-top:5px;
}

.menuCabecera .navItem:hover {
  transition: 0.6s;
  text-decoration: none;
  color:#1f252188;
}

.menuCabecera .registroBoton {
  color: white;
  border: 0;
  font-size: 0.9em;
}
.acceder {
  background-color: #445448;
  margin-top: 5px;
}

.crearCuenta {
  background-color: #5e8869;
  margin-top: 10px;
}

.logoutBoton {
  background-color: #332828;
  margin-top: 10px;
}

.menuCabecera .registroBoton:hover, .menuCabecera .registroBoton:focus{
  color: white;
  background-color: #2d382f;
}

@media(min-width: 1200px) {
  .menuCabecera {
    align-items: center;
    justify-content: center;
  }
  .menuCabecera .navItem {
    margin-left: 15px;
}
  .menuCabecera .registroBoton {
    margin-left: 15px;
    margin-top: 0px;
  }
}

.pie {
  padding: 0.6em 0;
  bottom: 0;
  height: max-content;
  font-size: 0.9em;
  color: #445448;
  display: flex;
  align-content: center;
}

.menuFooter {
  justify-content: center;
  line-height: 1.7em;
}

.menuFooter .navItem {
  font-size: 0.8em;
  color:#445448;
  border-right: 1px solid;
  padding: 0 10px;
}
.menuFooter .navItem:hover{
  text-decoration: none;
}

.menuFooter .nav-item:last-of-type a {
  border-right: 0;
}

.espacioLogo {
  display: block;
  text-align: center;
  width: max-content;
}

@media (min-width: 769px) {
  .espacioLogo {
    position: absolute;
    text-align: left;
  }
}

.logoWeb {
  height: 50px;
}
.textoFooter{
  align-items: center;
  text-align: center;
  font-size: 0.8em;
  display: block;
}

/* Forms */
.form-label {
  color: #648C6E;
  font-weight: bold;
}
.registro-pagina {
  text-align: center;
}

/* Acceder */

.titulo-acceder {
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 40px;
}
.acceso {
  display: flex;
  justify-content: center;
}
.acceso .input-group {
 padding-bottom: 20px;
}
.acceso .btn {
 width: 100%;
}
.acceso .contrasenya, .acceso .contrasenya:hover {
  display: block;
 cursor: pointer;
 color:#648C6E;
 margin-top: 10px;
}
.acceso .btn:first-of-type {
  background-color: #648C6E;
  border-color: #648C6E;
  transition: 0.5s;
}
.acceso .btn:first-of-type:hover {
  background-color: #B0BFB2;
  border-color: #B0BFB2;
  color:#48594B;
}
.acceso .btn:last-of-type {
  margin-top: 10px;
  border-color: #648C6E;
  color:#648C6E;
  transition: 0.5s;
}
.acceso .btn:last-of-type:hover {
  background-color: #B0BFB2;
  border-color: #B0BFB2;
}

/* Crear Cuenta */

.crear-cuenta {
  text-align: left;
}
.boton-crear {
  margin-bottom: 10px;
  background-color: #648C6E;
  border-color: #648C6E;
  transition: 0.5s;
}
.boton-crear:hover, .boton-crear:active {
  background-color: #B0BFB2;
  border-color: #B0BFB2;
  color:#48594B;
}
/* Nueva incidencia */
.nueva-incidencia {
  padding-bottom: 20px;
}

.formulario.oculto, .crear-cuenta.oculto {
  filter: blur(1.5px);
}
.error {
  color: tomato;
}
.form-file-label {
 color: rgb(153, 152, 152);
}
.form-check {
 padding-bottom: 15px;
 padding-top: 15px;
}
.off {
  display: none;
}
.toast {
  padding: 10px;
  margin: auto;
}
.ventana {
  position:fixed;
  top: 35%;
}
.fa-check-circle {
  color: green;
}
.boton-nueva {
  padding: 0.3em 0.6em;
  margin-top: 0.5em;
}
.comprobar-incidencia {
  margin-top: 20px;
  color: rgb(153, 16, 16);
  font-weight: bold;
}
.comprobar-incidencia .btn {
  padding-top: 0;
  padding-bottom: 0;
}
.footer-nueva-incidencia {
  margin-top: 50px;
}

/* Lista incidencias */

.filtro-incidencias button,  .filtro-incidencias button:focus {
  background-color:white;
  color:#648C6E;
  border-color: #648C6E;
  box-shadow: none;
}
.filtro-incidencias button:hover{
  background-color:#648C6E;
  color: white;
  border: none;
}
.filtro-incidencias .form-control {
  border-radius: 20px;
}
.filtro-buscar {
 width: 40%;
 padding-top: 30px;
}
.lateral-targeta-incidencia button {
  background-color: #648C6E;
  border-color: #648C6E;
}
.lateral-targeta-incidencia button:hover, .lateral-targeta-incidencia button:focus {
  background-color: #B0BFB2;
  border-color: #B0BFB2;
  box-shadow: none;
}
.input-group-text {
 background-color: white;
 border-radius: 100px;
 height: 38px;
}
.fa-star {
 color: rgb(214, 214, 36);
}
.fa-plus {
 color: grey;
}
.fa-plus:hover {
 cursor: pointer;
 color: black;
 font-size: larger;
}
.fa-circle.incidencia-recibida {
  color:  rgb(86, 64, 184);
}
.fa-circle.incidencia-resuelta {
  color: rgb(54, 88, 54);
}
.targeta-incidencia {
 align-items: center;
 background-color: #f0f2f0;
 margin: 1em 0;
 border-radius: 0.4em;
 box-shadow: 0.2em 0.3em 0.4em rgba(211, 211, 211, 0.452);
}
.lateral-targeta-incidencia {
  justify-content: center;
  margin: 0.3em 0;
}
.elemento-targeta-incidencia:first-of-type {
  margin-bottom: 0;
}
.targeta-incidencia {
  padding: 1em;
}
.targeta-incidencia h3{
  font-size: 1.4em;
}
.elemento-targeta-incidencia.descripcion-targeta {
  border-radius: 5px;
  font-size: 1em;
  padding: 0.5em 0 0 3em;
}
.elemento-targeta-incidencia.tipo-targeta {
  display: flex;
  align-items:center;
}
.elemento-targeta-incidencia.direccion-targeta {
  color: #645f5fbd;
  padding-left: 0;
}
.targeta-incidencia img {
  margin: 0.6em 0;
  border-radius: 20px;
}
.targeta-tipo {
  height: 2.2em;
  padding-right: 0.5em;
  margin: 0;
}
.incidencia-lista, .titulo-lista {
 align-items: center;
 text-align: center;
}
.titulo-lista {
 font-weight: bold;
 background-color: #ddedf0;
 padding-bottom: 10px;
 padding-top: 10px;
}
.boton-info, .boton-info:hover, .boton-info:focus {
  padding: 0.4em;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
.estado-info {
  background-color: #48594ba6;
  color: white;
  border-radius: 10px;
  width: 500px;
  position: relative;
  margin: 0.7em 0.5em 0 0;
  padding: 0.1em 0.5em;
}
.estado-info.desactivada {
  display: none;
}
.filtros .btn {
  margin-bottom: 15px;
  margin-right: 15px;
}
.filtros {
  margin-top: 2em;
}

/* MicuentaPagina */
.btn.modificar-cuenta {
 padding: 0;
}

/* Detalle incidencia */
.titulo-incidencia {
  padding-left: 1.35em;
}
.carta-incidencia {
  background-color: #b0bfb24b;
  margin: 0;
  border-radius: 30px;
}
.carta-tipo-icono {
  height: 2.2em;
  padding-right: 0.5em;
  padding-left: 0.8em;
  margin: 0;
}
.detalle-incidencia {
 padding: 15px;
}
ul.incidencia {
   border-right: 0.1em solid #4f725823;
}
.incidencia li {
  margin-bottom: 0.6em;
}

.incidencia .campo {
  color: #4f7258;
  font-weight: bold;
}
.detalle-imagen {
  align-self: center;
}
.detalle-imagen a {
  color: black;
}
/* Contenido menus mapa */
.mapa-lista {
  display: flex;
  justify-content: space-around;
  background-color: #62926d2f;
}
.mapa-lista div {
  justify-content: center;
}
.mapa-lista .navLink {
  border-radius: 30px;
  transition: 0.9s;
  color:#434744;
  margin: 0.5em 40px;
}
.mapa-lista .navLink:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.808);
}
.filtro-iconos img {
  height: 2em;
  margin-right: 0.4em;
  margin-bottom: 0.1em;
}
.filtro-iconos {
  color: #648C6E;
}
.filtro-iconos:hover, .filtro-iconos:focus {
  text-decoration: underline;
  color: #48594B;
}
.filtros-mapa {
  height: 3.8em;
}

/* Componente Mapa */
.tiposMapa {
  border-radius: 20px;
  color: #434744;
  transition: 0.6s;
  margin: 0.5em 10em;
  padding: 0.3em 0;
}
.tiposMapa:hover {
  color: rgb(75, 95, 74);
  background-color: #62926d2f;
}
.mapa-padre {
 justify-content: center;
}
.mapa {
 height: 30rem;
 width: 90vw;
 margin-bottom: 1em;
}

/* Pop up incidencia mapa */
.leaflet-popup {
  min-width: 250px;
}
.leaflet-popup-content {
  width: 100%;
}
.popimg{
  margin-bottom: 1em;
}
.titulo-popup {
  font-size: 1.4em;
}
.circular {
  height: 3em;
}
/* Como Funciona */
.lista-titulos {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.tips-titulos {
  margin-top: 1em;
  color: #648C6E;
  text-align: center;
}
li.tips-titulos {
  display: inline-block;
  color: #48594B;
  width: 45%;
}
.tips-solo {
  margin-top: 1em;
  font-weight: bold;
  list-style: none;
  font-size: 1.2em;
}
.mini-lista {
    display: flex;
    margin-bottom: 10px;
}
.mini-tips {
  width: 45%;
  font-weight: 500;
  color: #48594B;
  list-style: disc;
  margin-top: 0.6em;
}
.ultimos-pasos {
  display: flex;
}
.ultimos-pasos .tips{
  display: inline-block;
  color: #F2F2F2;
  width: 20%;
  margin: 1em 0.8em;
  background-color: #B0BFB2;
  border-radius: 30px;
  padding: 1em;
  text-align: center;
}

/* Contacto */

.contacto-secciones {
  border:none;
  margin-bottom: 0.8em;
}
.contacto-cabecera {
  text-align: center;
  border: none;
  background-color: #b0bfb248;
  box-shadow: 0.2em 0.2em 0.2em 0 rgba(211, 211, 211, 0.349);
  transition: 0.2s;
}
.contacto-boton {
  color: #353f38;
  transition: 0.2s;
}
.contacto-boton:hover {
  color: #353f38;
  text-decoration: none;
}
.contacto-boton:focus {
  text-decoration: none;
  font-weight: bold;
  box-shadow: none;
}
.contacto-secciones a {
  color: #353f38;
}
.linkedin {
  padding: 90px 0px;
  background-color:  rgb(0, 0, 0, 0.7);
  border-radius: 100px;
  position: absolute;
  bottom: 10%;
  opacity: 0;
  font-size: 15px;
}
.linkedin:hover {
  cursor: pointer;
  opacity: 1;
}
.linkedin a {
  color: white;
  width: 200px;
  text-align: center;
}
.linkedin i {
  color: black;
}
.caja-linkedin {
  width: 190px;
  position: relative;
  position: block;
}
.caja-linkedin img {
  border-radius: 120px;
}
.caja-linkedin .nombre {
  background-color: rgb(143, 140, 112);
  color: white;
  justify-content: center;
  margin-right: 10px;
}
