.cabecera, .pie {
background-color: #b6c9b9;
align-items: center;
padding-top: 10px;
padding-bottom: 10px;
}

h2 {
  margin-top: auto;
  margin-bottom: auto;
}

.navLista {
display: flex;
align-items: center;
text-align: center;
justify-content: center;
margin-top: auto;
margin-bottom: auto;
}

.navItem {
  color:black;
  font-size: 0.8em;
}
.navItem:hover{
  color: #445448;
  transition: ease-in-out, 0.2s;
}

.registroBoton {
  color: white;
  background-color: #445448;
  border: 0;
  font-size: 0.9em;
}

.registroBoton:hover {
  color: white;
  background-color: #445448af;
}

.pie {
  position: relative;
  font-size: 0.9em;
  color: #445448;
  display: flex;
  align-content: center;
}

.pie .navItem {
  color:#445448;
}

.espacioLogo {
  display: block;
  text-align: center;
}

@media (min-width: 600px) {
  .espacioLogo {
    position: absolute;
    text-align: left;
  }
}

.logoWeb {
  height: 50px;
}

.textoFooter{
  align-items: center;
  text-align: center;
  font-size: 0.8em;
  display: block;
}

//FormularioPagina
h2 {
  padding: 15px;
}
section.formulario {
  justify-content: center;
}
.input-group {
  padding-bottom: 20px;
}
.registro {
  text-align: center;
}
.btn {
  width: 100%;
}
a, a:hover {
  color: #17a2b8;
  cursor: pointer;
}
