.contenedorApp {
  height: 100vh;
}

.cabecera, .pie {
background-color: #b6c9b9;
padding-top: 10px;
padding-bottom: 10px;
}

.cabecera {
  display: flex;
  align-items: center;
}

.titulo {
  font-size: 2.6em;
}

.cabecera .navMenu {
  justify-content: flex-end;
  align-items: center;
}

.pie .navMenu {
justify-content: center;
}

.nav-item {
  border-right: 1px solid;
  margin-top: 5px;
  margin-bottom: 5px;
}
.nav-item:last-of-type, .nav-item:nth-child(6) {
  border-right: 0;
}

.navMenu {
  line-height: 0.1em;
}

.navItem {
  color:black;
  font-size: 0.8em;
}
.navItem:hover{
  color: #445448;
  transition: ease-in-out, 0.2s;
}

.registroBoton {
  color: white;
  background-color: #445448;
  border: 0;
  font-size: 0.9em;
}

.registroBoton:hover {
  color: white;
  background-color: #445448af;
}

.pie {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: max-content;
  font-size: 0.9em;
  color: #445448;
  display: flex;
  align-content: center;
}

.pie .navItem {
  color:#445448;
}

.espacioLogo {
  display: block;
  text-align: center;
}

@media (min-width: 600px) {
  .espacioLogo {
    position: absolute;
    text-align: left;
  }
}

.logoWeb {
  height: 50px;
}

.textoFooter{
  align-items: center;
  text-align: center;
  font-size: 0.8em;
  display: block;
}
